*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    margin-top: 40px;
    margin-left: 30px;
    background-color: white;
}
body{
    background-color: white;

}
.nav-bar{
    background-color: orange;
    text-align: center;
}
.nav-bar ul{
    display: inline-flex;
    list-style: none;
    color: white;
}
.nav-bar ul li{
    width: 180px;
    margin: 15px;
}