*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    margin-top: 40px;
    margin-left: 30px;
    background-color: #FAF9F6;
}
body{
    background-color: #FAF9F6;

}
.nav-bar{
    background-color: black;
    text-align: center;
}
.nav-bar ul{
    display: inline-flex;
    list-style: none;
    color: #FAF9F6;
}
.nav-bar ul li{
    width: 180px;
    margin: 15px;
    padding: 15px;
}
.nav-bar ul li a{
    text-decoration: none;
    color: #FAF9F6;
}
.none, .nav-bar ul li:hover{
    background: red;
    border-radius: 3px;
}
.sub-nav-1{
    display: none;    
}
.nav-bar ul li:hover .sub-nav-1{
    display: block;
    position: absolute;
    background-color: red;
    margin-top: 15px;
    margin-left: -60px;
    margin-right: 40px;

}
.nav-bar ul li:hover .sub-nav-1 ul{
    display: block;
    margin: 15px;
    text-align: left;
    transition: 1s;
}
.nav-bar ul li:hover .sub-nav-1 ul li{
    width:180px;
    padding: 10px;
    border-bottom: 1px dotted black;
    background: transparent;
    border-radius: 0;
    text-align: left;
    transition: 1s;
}