*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    margin-top: 25px;
    margin-left: 30px;
    background-color: #FAF9F6;
}
h1:hover{
    color: red;
    transition: 0.2s;
}
body{
    background-color: #FAF9F6;

}
.nav-bar{
    background-color: black;
    text-align: center;
    margin-bottom: 3px;
}
.nav-bar ul{
    display: inline-flex;
    list-style: none;
    color: #FAF9F6;
}
.nav-bar ul li{
    width: 150px;
    margin: 15px;
    padding: 15px;
}
.nav-bar ul li a{
    text-decoration: none;
    color: #FAF9F6;
}
.one, .nav-bar ul li:hover{
    background: red;
    border-radius: 3px;
}
/*Where styling of sub nav bar 1 begins*/
.sub-nav-1{
    display: none;    
}
.nav-bar ul li:hover .sub-nav-1{
    display: block;
    position: absolute;
    background-color: red;
    margin-top: 15px;
    margin-left: -15px;
}
.nav-bar ul li:hover .sub-nav-1 ul{
    display: block;
    margin: 15px;
    text-align: left;
}
.nav-bar ul li:hover .sub-nav-1 ul li{
    width:180px;
    padding: 3px;
    border-bottom: 1px dotted black;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
/*Where styling of sub nav bar 2 begins*/
.sub-nav-2{
    display: none;    
}
.nav-bar ul li:hover .sub-nav-2{
    display: block;
    position: absolute;
    background-color: red;
    margin-top: 15px;
    margin-left: -15px;

}
.nav-bar ul li:hover .sub-nav-2 ul{
    display: block;
    margin: 15px;
    text-align: left;
}
.nav-bar ul li:hover .sub-nav-2 ul li{
    width:180px;
    padding: 3px;
    border-bottom: 1px dotted black;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
/*Where styling of sub nav bar 3 begins*/
.sub-nav-3{
    display: none;    
}
.nav-bar ul li:hover .sub-nav-3{
    display: block;
    position: absolute;
    background-color: red;
    margin-top: 3px;
    margin-left: -15px;

}
.nav-bar ul li:hover .sub-nav-3 ul{
    display: block;
    margin: 15px;
    text-align: left;
    margin-bottom: 0;
}
.nav-bar ul li:hover .sub-nav-3 ul li{
    width:180px;
    padding: 0px;
    border-bottom: 1px dotted black;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
/*Where styling of sub nav bar 4 begins*/
.sub-nav-4{
    display: none;    
}
.nav-bar ul li:hover .sub-nav-4{
    display: block;
    position: absolute;
    background-color: red;
    margin-top: 15px;
    margin-left: -15px;

}
.nav-bar ul li:hover .sub-nav-4 ul{
    display: block;
    margin: 15px;
    text-align: left;
}
.nav-bar ul li:hover .sub-nav-4 ul li{
    width:180px;
    padding: 1px;
    border-bottom: 1px dotted black;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.image{
    padding: 0;
    margin: 0;
}
.image{
    height: 800px;
    object-fit: cover;
    background: url('13.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.image-1{
    padding: 0;
    margin: 0;
    margin-bottom: 0%;
}
.image-1{
    width: 700px;
    height: 800px;
    background-position: center;
}
.features-section{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}
.features-section{
    height:400px;
    width: 100%;
    background-image: url(25.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    border-top: 10px solid white;  
    color: #11122b;
    display: flex;
    justify-content: center;
    align-items: Center;
    font-family: "Ubuntu-Condensed", sans-serif;
}
.features-section > .columns-wrapper {
    width: 1000px;
    display: flex;
    justify-content: space-between;   
}
.google-map{
    padding-bottom: 50%;
    position: relative;
}
.google-map iframe{
    margin-left: 0;
    padding: 0;
    height: 500px;
    width: 100%;
    border-top: 10px solid red;
    border-bottom: 10px solid red;
    left: 0;
    top: 5px;
    position: absolute;
    background-size: cover;
}
.features-section > .columns-wrapper > .column{
    padding: 20px;
    margin: 42px;
    text-align: center; 
}